.text-main {
    color: #007bff;
}

.btn-main {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.btn-main:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.table-main {
    background-color: #007bff;
}
